@media (min-width: @tablet-width) {
  .comment {
    margin-bottom: 96px;
  }
}

.comment__title {
  font-size: 18px;
}

@media (min-width: @tablet-width) {
  .comment__title {
    font-size: 30px;
  }
}

.comment__text {
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .comment__text {
    padding: 0 165px;
  }
}

@media (min-width: @desktop-width) {
  .comment__text {
    padding: 0 380px;
  }
}
