.content__container {
  min-width: 320px;
  height: 157px;
  margin: 0;
  padding-top: 30px;
  color: @white;
  background-color: @lightskyblue;
}

.content__container--1 {
  position: relative;
  padding-top: 49px;
}

.content__container--2 {
  padding-top: 36px;
}

.content__container-triangle {
  position: absolute;
  top: -22px;
  left: 0;
}

@media (min-width: @tablet-width) {
  .content__container {
    min-width: 256px;
    height: 214px;
    padding-top: 42px;
  }

  .content__container--2 {
    order: 1;
    width: 256px;
  }

  .content__container-triangle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .content__container--2 {
    width: 400px;
  }
}

@media (min-width: @tablet-width) {
  .content__container-image {
    height: 256px;
  }
}
