.container {
  max-width: @desktop-width-container;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: @tablet-width) {
  .container {
    max-width: @tablet-width-container;
  }
}

@media (max-width: @desktop-width) {
  .container {
    max-width: @desktop-width-container;
  }
}
