.form__fieldset,
.form__contact,
.form__mark,
.form__check,
.form__review {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.form__fieldset {
  margin-bottom: 10px;
}

.form__contact {
  margin-bottom: 38px;
}

.form__fieldset-title,
.form__contact-title,
.form__mark-title,
.form__check-title,
.form__review-title {
  font-size: 18px;
  text-align: center;
}

.form__fieldset-title {
  margin-bottom: 19px;
}

.form__mark-title {
  margin-top: 7px;
  margin-bottom: 26px;
}

.form__check-title {
  margin-bottom: 22px;
}

.form__review-title {
  margin-top: 15px;
}

.form__contact::before {
  display: none;
}

.form__contact::after {
  content: "";
  position: absolute;
  background-color: @speciallight;
  width: 100%;
  height: 1px;
  bottom: -25px;
  left: 0;
}

@media (min-width: @desktop-width) {
  .form__contact {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__text {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .form__text {
    padding-left: 42px;
  }
}

.form__fieldset::before {
  content: "";
  position: absolute;
  background-color: @speciallight;
  width: 100%;
  height: 1px;
  top: -4px;
  left: 0;
}

.form__fieldset::after {
  content: "";
  position: absolute;
  background-color: @speciallight;
  width: 100%;
  height: 1px;
  bottom: -6px;
  left: 0;
}

.form__check::before {
  display: none;
}

.form__mark::after,
.form__check::after {
  content: "";
  position: absolute;
  background-color: @speciallight;
  width: 100%;
  height: 1px;
}

@media (min-width: @tablet-width) {
  .form__fieldset-title,
  .form__contact-title,
  .form__mark-title,
  .form__check-title,
  .form__review-title {
    font-size: 21px;
    margin: 0;
  }

  .form__fieldset-title {
    text-align: start;
    padding-left: 57px;
    margin-bottom: 57px;
  }

  .form__contact-title {
    margin-bottom: 18px;
  }

  .form__mark-title {
    padding-left: 60px;
    text-align: start;
  }

  .form__check-title {
    margin-bottom: 48px;
  }

  .form__review-title {
    margin-bottom: 58px;
  }
}

@media (min-width: @desktop-width) {
  .form__contact-title {
    width: 100%;
    margin-bottom: 73px;
  }
}

@media (min-width: @tablet-width) {
  .form__fieldset::after,
  .form__mark::after {
    display: none;
  }

  .form__mark-title {
    margin: 0;
    margin-bottom: 62px;
  }

  .form__contact {
    position: relative;
    margin-top: 40px;
  }

  .form__contact::before,
  .form__contact::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 16%;
    height: 1px;
    top: 12px;
    right: 85px;
  }

  .form__contact::after {
    left: 60px;
  }

  .form__review::before,
  .form__review::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 16%;
    height: 1px;
    top: 10px;
    right: 85px;
  }

  .form__review::after {
    left: 60px;
  }

  .form__check {
    text-align: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 71px;
  }

  @media (min-width: @desktop-width) {
    .form__check {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 59px;
    }

    .form__check-title {
      width: 100%;
    }
  }

  .form__check::before,
  .form__check::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 16%;
    height: 1px;
    top: 24px;
    right: 85px;
  }

  .form__check::after {
    left: 60px;
  }

  .form__check-title {
    width: 100%;
    padding: 0 220px;
    margin-bottom: 42px;
  }
}


@media (min-width: @desktop-width) {
  .form__fieldset-title {
    padding-left: 80px;
  }

  .form__check-title {
    padding: 0 400px;
  }

  .form__mark-title {
    padding-left: 200px;
  }
}

@media (min-width: @desktop-width) {
  .form__contact::before,
  .form__contact::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 280px;
    height: 1px;
    top: 12px;
    right: 85px;
  }

  .form__contact::after {
    left: 120px;
  }

  .form__check::before,
  .form__check::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 280px;
    height: 1px;
    top: 24px;
    right: 85px;
  }

  .form__check::after {
    left: 120px;
  }

  .form__review::before,
  .form__review::after {
    content: "";
    display: block;
    position: absolute;
    background-color: @speciallight;
    width: 280px;
    height: 1px;
    right: 85px;
  }

  .form__review::after {
    left: 120px;
  }
}

.form__label-name,
.form__label-surname,
.form__label-middlename {
  margin-right: 10px;
  font-size: 14px;
  margin-left: 10px;
}

.form__label-name {
  margin-right: 0;
}

@media (min-width: @tablet-width) {
  .form__label-name {
    margin-left: 22px;
  }

  .form__label-surname {
    margin-left: 34px;
  }

  .form__label-middlename {
    margin-left: 32px;
  }
}

@media (min-width: @desktop-width) {
  .form__label-name,
  .form__label-surname,
  .form__label-middlename {
    margin-left: 0;
  }
}

.form__input-text {
  border: none;
  border-radius: 0;
  background-color: @lightengrey;
  height: 58px;
  margin-bottom: 20px;
  color: @black;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 0 0 0 22px;
}

.form__input-text--1 {
  width: 209px;
  margin-left: 19px;
  font-size: 16px;
}


.form__input-text--2 {
  width: 192px;
}

.form__input-text--3 {
  width: 194px;
}

.form__input-text:hover {
  background-color: @speciallight;
}

.form__input-text:focus {
  background-color: @white;
  outline: 4px solid @speciallight;
}

@media (min-width: @tablet-width) {
  .form__input-text--1 {
    width: 195px;
    margin-left: 10px;
    font-size: 16px;
    margin-right: 20px;
  }

  .form__input-text--2 {
    width: 158px;
    margin-right: 35px;
  }

  .form__input-text--3 {
    width: 160px;
    margin-right: 35px;
  }
}

@media (min-width: @desktop-width) {
  .form__input-text--1 {
    width: 324px;
    margin-right: 44px;
  }

  .form__input-text--2 {
    width: 287px;
    margin-right: 44px;
  }

  .form__input-text--3 {
    width: 293px;
    margin-right: 42px;
  }
}

.form__fieldset:last-child {
  margin-bottom: 0;
}


.form__input-phone,
.form__input-email {
  margin: 0 20px;
  width: 80%;
  text-transform: none;
}

.form__input-email {
  margin-top: 10px;
}

.form__input-phone {
  margin-bottom: 9px;
  margin-top: 11px;
  font-size: 16px;
}

.form__contact-label,
.form__label-email {
  position: relative;
}

@media (min-width: @tablet-width) {
  .form__input-phone,
  .form__input-email {
    width: 81.4%;
    margin-left: 60px;
  }

  .form__input-phone {
    margin-bottom: 18px;
  }
}

@media (min-width: @desktop-width) {
  .form__input-phone,
  .form__input-email {
    width: 315px;
    margin: 0;
  }
}

.form__label-phone::before {
  content: "";
  position: absolute;
  background: url("../img/phone.svg");
  width: 18px;
  height: 18px;
  right: 39px;
  bottom: 127px;
  z-index: 2;
}

.form__label-email::before {
  content: "";
  position: absolute;
  background: url("../img/mail.svg");
  width: 16px;
  height: 12px;
  right: 40px;
  top: 53px;
  z-index: 2;
}


.form__label-phone::after,
.form__label-email::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 58px;
  right: 20px;
  background-color: @darkengrey;
  z-index: 1;
}

.form__label-phone::after {
  bottom: 103px;
}

.form__label-email::after {
  bottom: -20px;
}

@media (min-width: @tablet-width) {
  .form__label-phone::before {
    top: 101px;
    right: 79px;
  }

  .form__label-email::before {
    top: 55px;
  }

  .form__label-phone::after {
    right: 60px;
    top: 84px;
  }
}

@media (min-width: @desktop-width) {
  .form__label-phone::before {
    top: 118px;
    left: 548px;
  }

  .form__label-email::before {
    top: 23px;
    right: 21px;
  }

  .form__label-phone::after {
    left: 527px;
    top: 100px;
  }

  .form__label-email::after {
    bottom: 0;
    right: 0;
  }
}

@media (min-width: @tablet-width) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }

  .form__mark {
    order: 0;
    width: 50%;
    position: relative;
  }

  .form__fieldset {
    order: 1;
    width: 50%;
  }

  .form__fieldset::before {
    content: "";
    position: absolute;
    background-color: @speciallight;
    width: 1px;
    left: 0;
    height: 292px;
  }

  .form__contact {
    margin-bottom: 48px;
    text-align: left;
    order: 2;
    width: 100%;
  }

  .form__check {
    order: 3;
  }

  .form__review {
    order: 4;
    width: 100%;
  }

  .form__text {
    margin-bottom: 17px;
  }
}

@media (min-width: @desktop-width) {
  .form__fieldset {
    margin-bottom: 7px;
  }
}

.form__textarea {
  background-color: #f2f2f2;
  color: @black;
  width: 254px;
  margin-right: 12px;
  height: 140px;
  font-weight: 700;
  border: 0;
  padding: 18px 0 0 27px;
  resize: none;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 31px;
}

@media (min-width: @tablet-width) {
  .form__textarea {
    width: 626px;
    padding-top: 15px;
    padding-left: 21px;
    margin-right: 0;
  }
}

@media (min-width: @desktop-width) {
  .form__textarea {
    width: 937px;
    margin: 0;
  }
}

.form__review-text {
  display: none;
}

@media (min-width: @tablet-width) {
  .form__review-text {
    display: block;
    font-size: 14px;
    margin-left: 165px;
  }
}

@media (min-width: @desktop-width) {
  .form__review-text {
    margin-left: 320px;
  }
}

.form__input-submit {
  margin-top: 18px;
  margin-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .form__review-button {
    display: flex;
    align-items: baseline;
    margin: 0 44px;
    margin-bottom: 26px;
  }

  .form__input-submit {
    width: 324px;
    margin-top: 21px;
    padding: 0 8px 0 0;
    margin-left: 15px;
    margin-bottom: 42px;
  }
}

@media (min-width: @desktop-width) {
  .form__review-button {
    margin: 0 105px;
  }

  .form__input-submit {
    width: 480px;
    padding: 0;
    margin-top: 52px;
    margin-bottom: 73px;
  }
}


//Custom radio

.form__mark {
  text-align: left;
}

.form__mark [type="radio"] {
  position: absolute;
  right: 100vw;
}

.form__mark [type="radio"] + label {
  display: inline-block;
  position: relative;
  margin: 0 4px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.form__mark [type="radio"] + label:nth-of-type(1) {
  background: @lightengrey;
}

.form__mark [type="radio"] + label:nth-of-type(2) {
  background: @lightengrey;
}

.form__mark [type="radio"] + label:nth-of-type(3) {
  background: @lightengrey;
}

.form__mark [type="radio"] + label::before {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 14px;
  opacity: 0;
  background: url("../img/black-circle.svg") 50%/50% no-repeat;
  transition: all 0.3s ease;
  content: "";
}

.form__mark [type="radio"]:checked + label:active::before {
  opacity: 0.3;
}

.form__mark [type="radio"]:checked + label::before {
  opacity: 1;
}

.form__mark [type="radio"] + label:nth-of-type(1):hover {
  background-color: @speciallight;
}

.form__mark [type="radio"] + label:nth-of-type(1):active {
  background-color: @specialdarkgrey;
}

//Custom chekbox

.form__check {
  text-align: left;
}

.form__check [type="checkbox"] {
  position: absolute;
  right: 100vw;
}

.form__check [type="checkbox"] + label {
  display: inline-block;
  position: relative;
  margin: 0 4px;
  width: 53px;
  left: -2px;
  bottom: 3px;
  height: 53px;
  border-radius: 10%;
  cursor: pointer;
}

.form__check [type="checkbox"] + label:nth-of-type(1) {
  background: @lightengrey;
}

.form__check [type="checkbox"] + label:nth-of-type(2) {
  background: @lightengrey;
}

.form__check [type="checkbox"] + label:nth-of-type(3) {
  background: @lightengrey;
}

.form__check [type="checkbox"] + label:nth-of-type(4) {
  background: @lightengrey;
}

.form__check [type="checkbox"] + label::before {
  position: absolute;
  top: 2px;
  right: 0;
  bottom: 0;
  left: 14px;
  opacity: 0;
  background: url("../img/check-mark.svg") 50%/50% no-repeat;
  transition: all 0.3s ease;
  content: "";
}

.form__check [type="checkbox"]:checked + label::before {
  opacity: 1;
}

.form__check [type="checkbox"]:checked + label:active::before {
  opacity: 0.3;
}

.form__check [type="checkbox"] + label:nth-of-type(1):hover {
  background-color: @speciallight;
}

.form__check [type="checkbox"] + label:nth-of-type(1):active {
  background-color: @specialdarkgrey;
}
