.location {
  margin-top: 38px;
}

.location__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .location__title {
    font-size: 30px;
  }
}

.location__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: @desktop-width) {
  .location__text {
    font-size: 14px;
  }
}
