.location {
  padding-top: 19px;
  background-color: @white;
}

@media (min-width: @tablet-width) {
  .location {
    padding-top: 32px;
  }
}

.location__title {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .location__title {
    font-size: 30px;
    margin-bottom: 35px;
  }
}

.location__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 0 20px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .location__text {
    padding: 0 186px;
  }
}

@media (min-width: @desktop-width) {
  .location__text {
    font-size: 14px;
    padding: 0 402px;
  }
}
