@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 36px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1200px;
  }
}

.page-footer__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
}
