@media (min-width: @tablet-width) {
  .page-footer {
    margin-top: 27px;
  }

  .page-footer__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 80px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    width: 1200px;
    justify-content: flex-start;
  }
}

.page-footer__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 31px;
}

@media (min-width: @tablet-width) {
  .page-footer__title {
    margin-top: 14px;
    padding-left: 3px;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__title {
    padding: 0;
    margin-left: 119px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__copyright {
    margin-left: 269px;
  }
}
