@media (min-width: @tablet-width) {
  .performance {
    margin-top: 43.5px;
  }
}

.performance__title {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  padding: 0 15px;
}

@media (min-width: @tablet-width) {
  .performance__title {
    width: 640px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
  }
}

@media (min-width: @desktop-width) {
  .performance__title {
    width: 960px;
  }
}

.performance__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  padding-top: 43px;
}
