.radio__container {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 20px;
}

.radio__text {
  padding-left: 22px;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}
