.reasons {
  padding-top: 51px;
  background-color: @white;
}

@media (min-width: @desktop-width) {
  .reasons {
    padding-top: 41px;
  }
}

.reasons__number {
  padding-top: 9px;
  margin: 0;
  font-size: 14px;
}

@media (min-width: @tablet-width) {
  .reasons__number {
    margin: 0;
    padding: 10px 0 0 0;
  }
}

.reasons__text {
  font-size: 14px;
  line-height: 22px;
  padding: 20px 37px 0;
}

.reasons__text--1 {
  padding: 12px 15px 0;
}

.reasons__text--2 {
  padding: 11px 15px 0;
}

.reasons__text--3 {
  margin: 0;
  padding-top: 12px;
}

.reasons__text--4 {
  margin: 0;
  padding-top: 12px;
}

.reasons__text--5 {
  margin: 0;
  padding-top: 12px;
}

@media (min-width: @tablet-width) {
  .reasons__text--1,
  .reasons__text--2 {
    padding: 18px 30px 0;
  }

  .reasons__text--3 {
    padding: 0 20px;
    padding-bottom: 5px;
    margin-top: 16px;
    margin-bottom: 14px;
  }

  .reasons__text--4 {
    padding: 0 59px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 13px;
  }

  .reasons__text--5 {
    padding: 0 50px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 13px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__text--1 {
    padding: 18px 59px 0;
  }

  .reasons__text--2 {
    padding: 18px 83px 0;
  }

  .reasons__text--3 {
    padding: 0 32px 5px;
  }

  .reasons__text--4 {
    padding: 0 71px;
  }
}

.reasons__list {
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
}

.reasons__list--1 {
  margin-bottom: 14px;
}

.reasons__list--2 {
  height: 500px;
}

@media (min-width: @tablet-width) {
  .reasons__list {
    width: @tablet-width;
    display: flex;
  }

  .reasons__list--1 {
    height: 330px;
  }

  .reasons__list--2 {
    height: 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__list {
    width: @desktop-width;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .reasons__list {
    width: @desktop-width;
  }
}

@media (min-width: @tablet-width) {
  .reasons__content-image {
    height: 256px;
  }
}

.reasons__title {
  background-color: @lightgrey;
  height: 163px;
  position: relative;
}

@media (max-width: @mobile-width-only) {
  .reasons__title::after {
    content: "";
    left: 20px;
    bottom: 15px;
    position: absolute;
    width: 280px;
    top: 4px;
    height: 1px;
    background-color: @grey;
  }

  .reasons__title:nth-child(2),
  .reasons__title:nth-child(3) {
    padding-top: 5px;
  }

  .reasons__title:last-child::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .reasons__title {
    height: 256px;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .reasons__title {
    width: 400px;
  }
}

@media (max-width: @mobile-width-only) {
  .reasons__content-container {
    height: 482px;
  }

  .reasons__content-container--2 {
    height: 451px;
  }
}

@media (min-width: @tablet-width) {
  .reasons__content-container {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px;
  }

  .reasons__content-container--2 {
    grid-template-columns: 1fr 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__content-container {
    width: @desktop-width;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 256px;
  }

  .reasons__content-container--2 {
    grid-template-columns: 1fr 400px;
  }
}

.reasons__content-title {
  font-size: 18px;
  padding-top: 25px;
  margin: 0;
}

.reasons__content-title--1,
.reasons__content-title--2 {
  padding-top: 0;
}

@media (min-width: @tablet-width) {
  .reasons__content-title {
    padding: 0 53px;
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__content-title {
    padding: 0 129px;
  }

  .reasons__content-title--1 {
    padding: 0 92px;
    padding-top: 4px;
  }

  .reasons__content-title--2 {
    padding: 0 125px;
    padding-top: 9px;
  }
}
