.reasons {
  margin-top: 42px;
}

@media (min-width: @tablet-width) {
  .reasons__number {
    margin: 0;
    padding: 20px 0;
  }
}

.reasons__text {
  font-size: 16px;
  padding: 0 15px;
}

@media (min-width: @tablet-width) {
  .reasons__text--second {
    padding: 0 20px;
  }
}

.reasons__list {
  min-width: 320px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .reasons__list {
    width: @tablet-width;
    display: flex;
    height: 256px;
  }

  .reasons__list--1 {
    height: 330px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__list {
    width: @desktop-width;
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .reasons__list {
    width: @desktop-width;
  }
}

@media (min-width: @tablet-width) {
  .reasons__content-image {
    height: 256px;
  }
}

.reasons__title {
  background-color: @lightgrey;
  height: 168px;
  position: relative;
}

.reasons__title:nth-child(1) {
  padding-top: 30px;
}

@media (max-width: @mobile-width-only) {
  .reasons__title::after {
    content: "";
    left: 20px;
    bottom: 15px;
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: @grey;
  }

  .reasons__title:last-child::after {
    content: none;
  }
}

@media (min-width: @tablet-width) {
  .reasons__title {
    height: 256px;
    width: 256px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .reasons__title:nth-child(1) {
    padding-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .reasons__title {
    width: 400px;
  }
}

@media (max-width: @mobile-width-only){
  .reasons__content-container {
    height: 490px;
  }
}

@media (min-width: @tablet-width) {
  .reasons__content-container {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: 256px;
  }

  .reasons__content-container--2 {
    grid-template-columns: 1fr 256px;
  }
}

@media (min-width: @desktop-width) {
  .reasons__content-container {
    width: @desktop-width;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 256px;
  }

  .reasons__content-container--2 {
    grid-template-columns: 1fr 400px;
  }
}

.reasons__content-title {
  font-size: 21px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .reasons__content-title {
    padding: 0 53px;
  }
}
