@media (max-width: @mobile-width-only) {
  .site-list__item {
    height: 55px;
    line-height: 55px;
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-color: @lightskyblue;
    display: flex;
    flex-direction: column;
    color: @white;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    left: 10%;

    &:hover {
      background-color: @darkenskyblue;
    }

    &:active {
      background-color: @blackskyblue;
    }
  }
}

@media (min-width: @tablet-width) {
  .site-list__item:nth-child(1) {
    margin-left: 49px;
  }

  .site-list__item:nth-child(2) {
    margin-left: 77px;
  }

  .site-list__item:nth-child(3) {
    margin-left: 209px;
  }

  .site-list__item:nth-child(4) {
    margin-left: 52px;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item:nth-child(1) {
    margin-left: 91px;
  }

  .site-list__item:nth-child(2) {
    margin-left: 162px;
  }

  .site-list__item:nth-child(3) {
    margin-left: 382px;
  }

  .site-list__item:nth-child(4) {
    margin-left: 140px;
  }
}

.site-list__link {
  text-decoration: none;
  color: @white;
  line-height: 63px;
}

@media (min-width: @tablet-width) {
  .site-list__link {
    color: @black;
    font-size: 14px;
    transition: 0.2s;
    font-weight: bold;
  }

  .site-list__link:hover {
    color: @darkenskyblue;
  }

  .site-list__link:active {
    opacity: 0.3;
  }
}

.site-text {
  margin: 0;
}
