.site-list__link {
  text-decoration: none;
  color: @white;
}

@media (min-width: @tablet-width) {
  .site-list__link,
  .site-list__item--active {
    color: @black;
    transition: 0.2s;
  }

  .site-list__item {
    width: 153px;
    height: 56px;
  }
}

.site-text {
  margin: 0;
}
