.social-list {
  padding: 0;
  margin-top: 33px;
  margin-bottom: 33px;
  display: flex;
  margin-left: 84px;
}

.social-item {
  margin-right: 6px;
  list-style: none;
  background-color: @lightskyblue;
  width: 46px;
  height: 48px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .social-item:last-child {
    margin-right: 8px;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    display: flex;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .social-list {
    margin-left: 270px;
  }
}

.social-item:hover {
  background-color: @darkenskyblue;
}

.social__link-image--twitter {
  position: absolute;
  top: 16px;
  left: 14px;
}

.social__link-image--facebook {
  position: absolute;
  top: 14px;
  left: 18px;
}

.social__link-image--youtube {
  position: absolute;
  top: 16px;
  left: 13px;
}

.social__link-image--twitter:active,
.social__link-image--facebook:active,
.social__link-image--youtube:active {
  opacity: 0.3;
}
