//Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;


//Templates containers
@mobile-width-container: 450px;
@tablet-width-container: 960px;
@desktop-width-container: 1300px;

//Colors

@white: #FFFFFF;
@skyblue: #81B3D2;
@brightskyblue: #9BDDFA;
@darkskyblue: #23A9E1;
@darkenskyblue: #669EC0;
@blackskyblue: #5496BD;
@lightskyblue: #81B3D3;
@dark: #333333;
@brightdark: #491213;
@black: #000000;
@darkorange: #DC6243;
@lightorange: #F49774;
@lightbrown: #766458;
@grey: #D6D6D6;
@lightgrey: #EEEEEE;
@lightpink: #F4B1A4;
